.form {

    &__control {
        display: flex;
        flex-direction: column;

        & label {
            font-weight: 700;
        }

        & input {
            border: 1px solid #ccc;
            padding: 0.5rem 1rem;
            
            &:focus {
                outline: none;
                border-color: #8b005d;
            }

        }
    }
}