.card {

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    
   &__row {
    width: 100%;
    max-width: 55rem;
   }

   &__content {
    border-radius: 3px;
    overflow: hidden;
   }

   &__header {
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #8b005d;
    color: white;
    padding: 1rem;
}

   &__children {
    background-color: #fff;
    padding: 2rem;
   }

}